{#<input type="{{ item.type }}" name="{{ item.name }}" class="datepicker txt" placeholder="{{ item.place_holder }}">#}

{% if(data) %}
    <div class="row">
        {% for key, item in data %}
            <div class="col-01 item">
                <div class="significant">
                    <input type="{{ item.type }}" name="{{ item.name }}" class="{{ item.name }} txt"
                           placeholder="{{ item.place_holder }}" data-id="{{ item.name }}" readonly="true">
                    {#{% if(item['option']['required']) %}#}
                        {#<span class="red">*</span>#}
                    {#{% endif %}#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}