<div class="significant">
    <div class="row-form">
        <input autocomplete="off" type="{{ data.type }}" placeholder="{{ data.place_holder }} {{ data.option.required==true?'(*)':'' }}"
               title="{{ data.title }}" class="txt"
               name="{{ data.name }}" maxlength="{{ data['option']['max-length'] }}" data-id="{{ data.name }}">
    </div>
</div>