<div class="significant">
    <div class="row-form" style="margin-top: 10px">

        <label for="{{ item.name }}">
        <span class="btn"
              style="border: 1px solid #00bac1;margin-bottom: 5px;padding: 2px 15px; color: #00bac1">{{ item.place_holder }}</span>
        </label>
        <span id="image_path_name"></span>
        <input type="file" placeholder="{{ item.place_holder }}" title="{{ item.place_holder }}" class=""
               name="{{ item.name }}" id="{{ item.name }}" style="visibility: hidden; height: 0px">
    </div>
</div>