<div class="significant">
    <div class="row-form">
        <input type="{{ data.type }}" placeholder="{{ data.place_holder }}" title="{{ data.title }}" class="txt"
               name="{{ data.name }}" maxlength="{{ data['option']['max-length'] }}">
    </div>
    {#{% if(data['option']['required']) %}#}
        {#<span>*</span>#}
    {#{% endif %}#}
</div>